*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}

div{
    display: inline-block;
}

.txt{
    width: 60%;
    height: 100vh;
    background: #FFFFFF;
    display: inline-block;
    padding-left: 10%;
}

.titulo{
    margin-top: 71%;
    width:368px;
    height: 160px;
    font-size: 70px;
    font-weight: 400;
    color: #5D5D7D;
}

p{
    width: 540px;
    height: 144px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(93, 93, 125, 0.6);
    margin-top: 10%;
}

.btn{
    margin-top: 4%;
    width: 269px;
    height: 62px;
    background: #9499ea;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 35px;
    color: #FFFFFF;
}

.btn:hover{
    background: #5D5D7D;
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
    border: none;
}

.btn:active{
    background: #5D5D7D;
    transition: 0.5s;
    scale: 0.9;
}

/*-----------------------------------------------------------*/




.img{
    width: 40%;
    height: 100vh;
    position: absolute;
    background: rgba(93, 93, 125, 0.16);
    display: inline-block;
}

header{
    margin-left: 15%;
    width: 94%;
    margin-top: 6%;
}

.work{
    opacity: 0.4;
}

.home, .about, .work, .contato{
   text-decoration: none;
   border: none;
   background: none;
   color: #5D5D7D;
   font-weight: 400;
   font-size: 28px;
   cursor: pointer;
   width: 59px;
   

}

.about, .work, .contato{
    margin-left: 11%;
}

img{
    position: relative;
    top: 25%;
    right: 130px;
    display: inline-block;
}
/*-----------------------------------------------------------*/

@media screen and (max-width: 900px) and (orientation: portrait) {
    .txt {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .titulo{
        margin: 0;
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        margin: 58px 50px 0 50px;
        width: auto;
    }

    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        height: auto;
    }

    .img{
        display: block;
        height: auto;
        position: static;  
        margin: 0;
        padding: 40px;
        width: auto;
    }

    img{
        position: static;  
        margin: 0;
        padding: 40px;
        max-width: 90%;
    }



    header{
        display: none;
    }

    .btn{
        margin: 0 auto;
        display: block;
        text-decoration: none;
    }
/* ==================================== */



}